html,
body {
    font-family: "Segoe UI", Arial, sans-serif;
    color: #b2c4d7;
    padding: 0 2.5% 5%;
    background-color: #101315;
    word-wrap: anywhere;
}

#text {
    max-width: 10px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.btn-store button {
    display: block;
    margin: 15px auto 15px;
    width: 10rem;
}

.news-hyperlink {
    font-size: 1rem;
}

iframe {
    margin: 10px auto;
    display: block;
    width: calc(0.560 * 100vw);
    height: calc(0.315 * 100vw);
}

p {
    margin: 5px 0;
}

img {
    border-radius: .25rem !important;
    max-width: 100%;
}

h6 {
    font-size: 0.75rem;
    font-style: italic;
}

.btn {
    border: 0 solid transparent;
}

.btn-primary {
    background-color: #13668e;
    border-color: #0000 !important;
}

.btn-primary:hover {
    background-color: #207eac;
    border-color: #0000 !important;
}

.btn-primary:focus {
    background-color: #0b435e;
    border-color: #0000 !important;
}

.btn-tab {
    .btn;
    border-radius: 0;
}

.center {
    text-align: center;
}

.tab {
    overflow: hidden;
}

.tab button {
    background-color: #191f22;
    color: #f1f1f1;
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #4c5359;
}

.tab button.active {
    background-color: #2c3034;
}

.table {
    width: 75%;
    margin: auto;
}

.table > :not(:first-child) {
    border-top: none !important;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 10px 4px;
}

.column img {
    width: 100%;
    vertical-align: middle;
}

.column img:hover {
    transform: scale(1.02);
    filter: brightness(85%);
    filter: saturate(100%);
}

.column p {
    margin: 2px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.middle {
    margin-top: 10%;
}

.news {
    margin: 0 10px 35px;
}

.news img {
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 5px 0;
}

.news img[width]:not([width=""]), img[height]:not([height=""]){
    width: 100% !important;
    height: 100% !important;
}

/* Style the header */
.header {
    padding: 5px 16px 10px;
    background: #27282d;
    color: #f1f1f1;
    border-radius: 5px;
    width: 75%;
    margin: auto;
}

.header button{
    width: 10rem;
}
/* Page content */
.content {
    padding: 16px;
}

.shadow {
    box-shadow: 0 .25rem .375rem rgba(255, 255, 255, 0.08) !important;
}

.top-right {
    position: absolute;
    top: 6.5rem;
    right: 5%;
}

.form-playtime {
    display: inline-block;
    max-width: 3.25rem;
    margin-bottom: .25rem;
}

.img-avatar {
    margin: .25rem .25rem .25rem .5rem;
}

.img-game {
    margin: auto;
    display: block;
}

.flexmsg {
    margin: auto;
    max-width: 30rem;
    text-align: center;
}

.flexmsg-field, .flexmsg-field:focus {
    min-height: 10rem !important;
    background: #1d2124;
    color: #bbc6ce;
}

.btn-flexmsg {
    margin: .25rem auto 0 calc(100% - 3.5rem);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .table {
        width: 100%;
    }

    .header {
        width: 100%;
    }
}